# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

src/compiled.css

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.react-router/

.env
.env.local