@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(18% 0.005 195);
  --color-foreground: var(--color-stone-50);
  --color-border: var(--color-stone-400);
  --color-ring: var(--color-indigo-400);
  --color-primary: var(--color-stone-50);
  --color-primary-foreground: var(--color-stone-950);
  --color-secondary: var(--color-stone-700);
  --color-secondary-foreground: var(--color-stone-50);
  --color-info: var(--color-sky-600);
  --color-info-foreground: var(--color-stone-50);
  --color-success: var(--color-emerald-600);
  --color-success-foreground: var(--color-stone-50);
  --color-warning: var(--color-yellow-600);
  --color-warning-foreground: var(--color-stone-50);
  --color-error: var(--color-rose-600);
  --color-error-foreground: var(--color-stone-50);
  --color-muted: var(--color-stone-700);
  --color-muted-foreground: var(--color-stone-400);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border ring-ring ring-offset-background;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  svg {
    @apply shrink-0;
  }

  hr {
    @apply my-4 border;
  }

  h1 {
    @apply text-4xl font-bold tracking-normal;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  form {
    @apply space-y-4;
  }

  label {
    @apply block font-semibold;

    & > span {
      &:nth-child(2) {
        @apply block text-sm text-muted-foreground;
      }
    }
  }

  fieldset {
    @apply space-y-1.5;

    legend {
      @apply block font-semibold bg-background px-2 -ml-2;
    }
  }

  a,
  button,
  .button,
  input,
  select,
  textarea,
  [tabindex] {
    @apply focus-visible:outline-none focus-visible:ring focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  input:not(.default) {
    @apply flex w-full rounded-lg shadow-sm border-2 border-muted font-medium bg-transparent px-3 py-2 text-base ring-offset-background transition focus-visible:border-transparent;

    &::placeholder {
      @apply text-muted-foreground;
    }
  }

  a,
  input[type="checkbox"],
  input[type="radio"] {
    @apply cursor-pointer;
  }

  button:not(.default),
  .button {
    @apply inline-flex h-max shrink-0 cursor-pointer items-center justify-center border font-semibold tracking-wide transition disabled:cursor-not-allowed disabled:border-transparent disabled:bg-muted/50 disabled:text-muted-foreground;

    &.primary {
      @apply border-primary bg-primary text-primary-foreground hover:bg-primary/90 active:bg-primary/80;
    }

    &.secondary {
      @apply border-secondary bg-secondary text-secondary-foreground hover:bg-secondary/90 active:bg-secondary/80;
    }

    &.info {
      @apply border-info bg-info text-info-foreground hover:bg-info/90 active:bg-info/80;
    }

    &.success {
      @apply border-success bg-success text-success-foreground hover:bg-success/90 active:bg-success/80;
    }

    &.warning {
      @apply border-warning bg-warning text-warning-foreground hover:bg-warning/90 active:bg-warning/80;
    }

    &.error {
      @apply border-error bg-error text-error-foreground hover:bg-error/90 active:bg-error/80;
    }

    &:not(.primary):not(.secondary):not(.info):not(.success):not(.warning):not(.error) {
      @apply bg-transparent text-foreground hover:bg-muted/10 active:bg-muted/5;
    }

    &.sm {
      @apply rounded-md px-3 py-1 text-sm;
    }

    &.icon {
      @apply rounded-md aspect-square h-10 w-10;
    }

    &:not(.sm):not(.icon) {
      @apply rounded-md px-4 py-2;
    }

    svg {
      @apply pointer-events-none size-4 shrink-0;
    }
  }
}

@utility stack {
  display: grid;
  grid-template-areas: "stack";
}

@utility stack-item {
  grid-area: stack;
}

@utility absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@utility translate-center {
  transform: translate(-50%, -50%);
}

@utility radio-group {
  @apply rounded-lg shadow-sm border-2 border-muted font-medium bg-transparent px-3 py-2 text-base;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type="radio"] {
      background-color: transparent;
      accent-color: var(--color-primary);
      width: 1.2rem;
      height: 1.2rem;
      margin: 0;
    }
  }
}
