@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
	--color-background: oklch(18% 0.005 195);
	--color-foreground: var(--color-stone-50);
	--color-border: var(--color-stone-400);
	--color-ring: var(--color-indigo-400);
	--color-primary: var(--color-stone-50);
	--color-primary-foreground: var(--color-stone-950);
	--color-secondary: var(--color-stone-700);
	--color-secondary-foreground: var(--color-stone-50);
	--color-info: var(--color-sky-600);
	--color-info-foreground: var(--color-stone-50);
	--color-success: var(--color-emerald-600);
	--color-success-foreground: var(--color-stone-50);
	--color-warning: var(--color-yellow-600);
	--color-warning-foreground: var(--color-stone-50);
	--color-error: var(--color-rose-600);
	--color-error-foreground: var(--color-stone-50);
	--color-muted: var(--color-stone-700);
	--color-muted-foreground: var(--color-stone-400);

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border ring-ring ring-offset-background;
	}

	body {
		@apply bg-background text-foreground antialiased;
	}

	svg {
		@apply shrink-0;
	}

	hr {
		@apply my-4 border;
	}

	h1 {
		@apply text-4xl font-bold tracking-normal;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-2xl font-semibold;
	}

	form {
		@apply space-y-4;
	}

	label {
		@apply block font-semibold;

		& > span {
			&:nth-child(2) {
				@apply text-muted-foreground block text-sm;
			}
		}
	}

	fieldset {
		@apply space-y-1.5;

		legend {
			@apply bg-background -ml-2 block px-2 font-semibold;
		}
	}

	a,
	button,
	.button,
	input,
	select,
	textarea,
	[tabindex] {
		@apply focus-visible:ring-ring focus-visible:ring focus-visible:ring-offset-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
	}

	input:not(.default),
	select:not(.default) {
		@apply border-muted ring-offset-background flex w-full rounded-lg border-2 bg-transparent px-3 py-2 text-base font-medium shadow-sm transition focus-visible:border-transparent;

		&::placeholder {
			@apply text-muted-foreground;
		}
	}

	a,
	input[type="checkbox"],
	input[type="radio"],
	select {
		@apply cursor-pointer;
	}

	button:not(.default),
	.button {
		@apply disabled:bg-muted/50 disabled:text-muted-foreground inline-flex h-max shrink-0 cursor-pointer items-center justify-center border font-semibold tracking-wide transition disabled:cursor-not-allowed disabled:border-transparent;

		&.primary {
			@apply border-primary bg-primary text-primary-foreground hover:bg-primary/90 active:bg-primary/80;
		}

		&.secondary {
			@apply border-secondary bg-secondary text-secondary-foreground hover:bg-secondary/90 active:bg-secondary/80;
		}

		&.info {
			@apply border-info bg-info text-info-foreground hover:bg-info/90 active:bg-info/80;
		}

		&.success {
			@apply border-success bg-success text-success-foreground hover:bg-success/90 active:bg-success/80;
		}

		&.warning {
			@apply border-warning bg-warning text-warning-foreground hover:bg-warning/90 active:bg-warning/80;
		}

		&.error {
			@apply border-error bg-error text-error-foreground hover:bg-error/90 active:bg-error/80;
		}

		&:not(.primary):not(.secondary):not(.info):not(.success):not(.warning):not(.error) {
			@apply text-foreground hover:bg-muted/10 active:bg-muted/5 border-primary/20 bg-transparent;
		}

		&.sm {
			@apply rounded-md px-3 py-1 text-sm;
		}

		&.icon {
			@apply aspect-square h-10 w-10 rounded-md;
		}

		&:not(.sm):not(.icon) {
			@apply rounded-lg px-4 py-2;
		}

		svg {
			@apply pointer-events-none size-4 shrink-0;
		}
	}
}

@utility stack {
	display: grid;
	grid-template-areas: "stack";
}

@utility stack-item {
	grid-area: stack;
}

@utility card {
	@apply flex flex-col justify-between gap-2 rounded-xl border p-6;
	h3 {
		@apply text-2xl leading-8 font-semibold;
	}
	p {
		@apply text-muted-foreground pb-4 font-medium;
	}
}

@utility absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@utility translate-center {
	transform: translate(-50%, -50%);
}

@utility radio-group {
	@apply border-muted rounded-lg border-2 bg-transparent px-3 py-2 text-base font-medium shadow-sm;

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		input[type="radio"] {
			background-color: transparent;
			accent-color: var(--color-primary);
			width: 1.2rem;
			height: 1.2rem;
			margin: 0;
		}
	}
}

@keyframes disco-animation {
	0% {
		scale: 1;
		background-color: aliceblue;
	}
	25% {
		scale: 1.2;
		background-color: beige;
	}
	50% {
		scale: 1.1;
		background-color: azure;
	}
	75% {
		scale: 1.2;
		background-color: aquamarine;
	}
	100% {
		scale: 1;
		background-color: bisque;
	}
}

@utility disco-animation {
	animation: disco-animation 0.7s linear infinite;
}

@utility table-content {
	@apply grid aspect-square h-full w-full min-w-[480px] grid-rows-4 place-items-center rounded-full border-6 border-gray-900 bg-gray-800 py-20 shadow-lg *:z-10;
}

@utility table-content-top {
	@apply h-full w-[80%] place-content-center;

	h1 {
		@apply text-center text-4xl font-bold text-gray-200;
	}
}

@utility table-content-middle {
	@apply row-span-2 flex h-full w-[95%] items-center justify-center gap-2;
}

@utility table-content-bottom {
	@apply mx-auto w-max;
}
